Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-10, with the labels that each got.

#2069 [Connector] Add support for Wynk Music
  src/connectors/wynk.js
  src/core/connectors.js
Labels: connector, implemented

#2067 Add support for GDS.FM
  src/connectors/gds-play.fm.js
  src/core/connectors.js
Labels: connector, implemented

#2066 Add Watch2Gether support
  src/connectors/watch2gether.js
  src/core/connectors.js
Labels: connector, implemented

#2110 fix up coverage
  .github/workflows/test.yml
  .gitignore
  package.json
  yarn.lock
Labels: feature, maintenance

#2124 badge-tidy
  README.md
Labels: chore, docu

#2032 Added radiojavan connector.
  src/connectors/radiojavan.js
  src/core/connectors.js
Labels: connector, implemented

#2131 Add support for audiomack
  src/connectors/audiomack.js
  src/core/connectors.js
Labels: connector, implemented

#2130 Fix Tidal connector not recognizing plays after 10/23 update.
  src/connectors/tidal.js
Labels: bugfix, connector

#2133 Add audiomack track art support
  src/connectors/audiomack.js
Labels: connector, feature
