Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-08, with the labels that each got.

#2038 Start support for 9128.live
  src/connectors/9128live.js
  src/core/connectors.js
Labels: connector, implemented

#2040 Rework for radio.co
  src/connectors/radioco.js
  src/core/connectors.js
Labels: connector, feature

#1971 Add option to use Tidal-provided shorter track names.
  src/_locales/en/messages.json
  src/connectors/tidal.js
  src/core/background/storage/options.js
  src/ui/options/index.html
  src/ui/options/options.js
Labels: bugfix, connector
