Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-05, with the labels that each got.

#1976 Remove grunt-rename-util from yarn.lock.
  yarn.lock
Labels: chore, maintenance

#1977 Fix play button selector for TIDAL.
  src/connectors/tidal.js
Labels: bugfix, connector

#1968 Fixes #1955, retrieve YouTube category without API
  src/connectors/youtube.js
Labels: bugfix, connector

#1992 Updated filter to normalise " - X Remix" to "(X Remix)" to cover other variations
  src/core/content/filter.js
  tests/core/filter.js
Labels: core, feature
