Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-11, with the labels that each got.

#2143 Migrate from yarn to npm
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  package-lock.json
  yarn.lock
Labels: feature, maintenance

#2140 Added a new connector for Joox, Tencent's music site
  src/connectors/joox.js
  src/core/connectors.js
Labels: connector, implemented

#2150 Add support for GRRIF
  src/connectors/grrif.js
  src/core/connectors.js
Labels: connector, implemented

#2151 Add pan y rosas discos connector.
  src/connectors/panyrosasdiscos.js
  src/core/connectors.js
Labels: connector, implemented

#2155 #2033 Newgrounds Audio Portal Connector
  src/connectors/newgrounds.js
  src/core/connectors.js
Labels: connector, implemented

#2099 Feature/poolside.fm
  src/connectors/poolside.js
  src/core/connectors.js
Labels: connector, implemented

#2164 Add global option to disable podcasts.
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/zh/messages.json
  src/connectors/google-play.js
  src/core/background/object/controller.js
  src/core/background/storage/options.js
  src/core/background/util/migrate.js
  src/core/content/connector.js
  src/ui/options/index.html
  src/ui/options/options.js
Labels: core, feature
