Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-12, with the labels that each got.

#2182 Fix archive.org
  src/connectors/archive.js
Labels: bugfix, connector

#2184 Add support for PlayIrish, Imago Radio and Provoda.ch
  src/connectors/imago.js
  src/connectors/playirish.js
  src/connectors/provoda.ch.js
  src/core/connectors.js
Labels: connector, implemented

#2185 Added support for Atomic Music Space
  src/connectors/atomicmusic.space.js
  src/core/connectors.js
Labels: connector, implemented

#2191 Cross Platform Builds
  Gruntfile.js
  copy-vendor.sh
  package.json
  scripts/copy-vendor.js
Labels: chore, maintenance

#2195 Add Smooth FM connector
  src/connectors/smoothfm.js
  src/core/connectors.js
Labels: connector, implemented

#2193 Add "feat. Artist" filter for Amazon tracks, Album Artist data from Artist tag and improved Explicit tag handling
  src/connectors/amazon.js
  src/core/content/filter.js
  tests/content/filter.js
Labels: connector, feature

#2204 Improve Amazon Connector with normalized featured artists
  src/core/content/filter.js
  tests/content/filter.js
Labels: connector, feature
