Repository web-scrobbler/web-scrobbler, pull requests merged in 2019-07, with the labels that each got.

#2011 Update connector after FIP website update
  src/connectors/fip.js
Labels: bugfix, connector

#2010 Add support for albumArtist
  src/_locales/en/messages.json
  src/connectors/bandcamp.js
  src/core/background/object/song.js
  src/core/background/scrobbler/audioscrobbler.js
  src/core/background/scrobbler/listenbrainz.js
  src/core/content/connector.js
  src/core/content/filter.js
  src/popups/info.css
  src/popups/info.html
  src/popups/info.js
Labels: core, feature

#2014 Added Primephonic connector
  src/connectors/primephonic.js
  src/core/connectors.js
Labels: connector, implemented
