Repository web-scrobbler/web-scrobbler, pull requests merged in 2020-09, with the labels that each got.

#2543 Add support for radio7.lv
  src/connectors/radio7.js
  src/core/connectors.js
Labels: connector, implemented

#2546 Add case for uploaded albums to the YT Music album selector.
  src/connectors/youtube-music.js
Labels: bugfix, connector

#2545 Winampify connector
  src/connectors/winampify.js
  src/core/connectors.js
Labels: connector, implemented

#2548 Archive.org Drop jQuery and legacy
  src/connectors/archive.js
Labels: chore, connector

#2553 Eggspand Eggs connector to include youtube embeds
  src/connectors/eggs-dom-inject.js
  src/connectors/eggs.js
  src/manifest.json
Labels: connector, feature

#2560 Add Jamstash connector
  src/connectors/jamstash.js
  src/core/connectors.js
Labels: connector, implemented

#2568 Update README.md
  README.md
Labels: chore, documentation

#2569 Add Idagio connector
  src/connectors/idagio.js
  src/core/connectors.js
Labels: connector, implemented

#2567 Add subfire connector
  src/connectors/subfire.js
  src/core/connectors.js
Labels: connector, implemented
