Repository web-scrobbler/web-scrobbler, pull requests merged in 2020-07, with the labels that each got.

#2466 Remove track numbers from YouTube title
  src/core/content/util.js
  tests/content/util.js
Labels: connector, core, feature

#2475 Added SWR3 connector
  src/connectors/swr3.js
  src/core/connectors.js
Labels: connector, implemented

#2477 Fixed the non-working NRK connector
  src/connectors/nrk-radio.js
Labels: bugfix, connector

#2478 Developed connector for Supla
  src/connectors/supla.js
  src/core/connectors.js
Labels: connector, implemented

#2483 Fixed the non-working emby connector. issue (#2479)
  src/connectors/emby.js
Labels: bugfix, connector

#2486 gds.fm launched new page
  src/connectors/gds-play.fm.js
  src/connectors/gds.fm.js
  src/core/connectors.js
Labels: bugfix, connector
