Repository web-scrobbler/web-scrobbler, pull requests merged in 2020-08, with the labels that each got.

#2508 A connector for the nightride.fm online synthwave radio.
  src/connectors/nightride.fm.js
  src/core/connectors.js
Labels: connector, implemented

#2507 A connector for the rekt.network online radio.
  src/connectors/rekt.network.js
  src/core/connectors.js
Labels: connector, implemented

#2521 Add Gimme Country to existing gimmeRadio connector
  src/connectors/gimmeradio.js
  src/core/connectors.js
Labels: connector, feature

#2520 Add TruckersFM Connector
  src/connectors/truckersfm.js
  src/core/connectors.js
Labels: connector, implemented

#2523 Refactor stringToSeconds with simple regex
  src/core/content/util.js
  tests/content/util.js
Labels: chore, core

#2528 Disable individual lint warnings instead of a global disable
  src/core/content/connector.js
Labels: chore, core

#2538 Detektor.fm
  src/connectors/detektorfm.js
  src/core/connectors.js
Labels: connector, implemented

#2540 Add ibroadcast.com
  src/connectors/ibroadcast.js
  src/core/connectors.js
Labels: connector, implemented
