Repository web-scrobbler/web-scrobbler, pull requests merged in 2020-12, with the labels that each got.

#2648 Improve Idagio connector
  src/connectors/idagio.js
Labels: connector, feature

#2652 Add support for Maloja's native API
  src/core/background/object/scrobble-service.js
  src/core/background/scrobbler/maloja-scrobbler.js
  src/ui/options/accounts.js
Labels: core, feature

#2671 Add Dash Radio Connector
  src/connectors/dashradio.js
  src/core/connectors.js
Labels: connector, implemented
