Repository web-scrobbler/web-scrobbler, pull requests merged in 2021-01, with the labels that each got.

#2699 Fix youtube-music connector
  src/connectors/youtube-music.js
Labels: bugfix, connector

#2711 Add connector to support Niconico
  src/connectors/nicovideo.js
  src/core/connectors.js
Labels: connector, implemented

#2716 Updated TFM Connector
  src/connectors/truckersfm.js
Labels: connector, feature
