Repository web-scrobbler/web-scrobbler, pull requests merged in 2021-07, with the labels that each got.

#2913 #2910 - Fix Primephonic connector
  src/connectors/primephonic.js
Labels: bugfix, connector

#2914 Renamed connector file and metadata for 'Poolside FM' to 'Poolsuite'
  src/connectors/poolsuite.js
  src/core/connectors.js
Labels: chore, connector

#2915 #2896 - Fix Live365 connector
  src/connectors/live365.js
  src/core/content/starter.js
Labels: bugfix, connector

#2916 #2808 - Connector for horizonte.cl
  src/connectors/horizonte.cl.js
  src/core/connectors.js
Labels: connector, implemented

#2922 xiami.com is out of service since Feb. 05 2021
  src/connectors/xiami.js
  src/core/connectors.js
Labels: chore, connector
