Repository web-scrobbler/web-scrobbler, pull requests merged in 2021-03, with the labels that each got.

#2748 fix youtube music artist and album parsing
  src/connectors/youtube-music.js
Labels: bugfix, connector

#2750 Fix URL for Hype Machine album premieres.
  src/connectors/hypem-albums.js
  src/core/connectors.js
Labels: bugfix, core

#2763 Add turntable.fm connector
  src/connectors/turntable.fm.js
  src/core/connectors.js
Labels: connector, implemented

#2760 Fix archive connector
  src/connectors/archive.js
Labels: bugfix, connector

#2775 Make minor spelling and grammar updates
  src/_locales/en/messages.json
  src/ui/options/accounts.js
Labels: chore, translation

#2780 Remove unused startup messages
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/sk_SK/messages.json
  src/_locales/zh/messages.json
Labels: chore, translation

#2795 Fixed scrobbling not working due to html layout change
  src/connectors/watch2gether.js
Labels: bugfix, connector

#2798 Add playlist-randomizer
  src/connectors/playlistrandomizer.js
  src/core/connectors.js
Labels: connector, implemented
