Repository web-scrobbler/web-scrobbler, pull requests merged in 2021-04, with the labels that each got.

#2804 Add EulerBeats connector
  src/connectors/eulerbeats.js
  src/core/connectors.js
Labels: connector, implemented

#2789 Fix selectors for the Tidal redesign.
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/sk_SK/messages.json
  src/_locales/zh/messages.json
  src/connectors/tidal.js
  src/core/background/storage/options.js
  src/ui/options/index.html
  src/ui/options/options.js
Labels: bugfix, connector

#2800 Add Lounge.fm
  src/connectors/lounge.fm.js
  src/core/connectors.js
Labels: connector, implemented

#2801 Add Live365.com
  src/connectors/live365.js
  src/core/connectors.js
Labels: connector, implemented

#2777 Add Indie88 Connector
  src/connectors/indie88.js
  src/core/connectors.js
Labels: connector, implemented

#2778 Add CBC Music Connector
  src/connectors/cbcmusic.js
  src/core/connectors.js
Labels: connector, implemented

#2779 Add Stingray Music Connector
  src/connectors/stingray.js
  src/core/connectors.js
Labels: connector, implemented

#2814 Add filmmusic.io
  src/connectors/filmmusic.io.js
  src/core/connectors.js
Labels: connector, implemented

#2815 Change radio.com to Audacy (.com)
  src/connectors/audacy.js
  src/core/connectors.js
Labels: chore, connector

#2823 Add Keakie connector
  src/connectors/keakie.js
  src/core/connectors.js
Labels: connector, implemented

#2827 Add Calm.com
  src/connectors/calm.js
  src/core/connectors.js
Labels: connector, implemented
