Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-11, with the labels that each got.

#3455 Update filters in KCRW connector
  src/connectors/kcrw.js
Labels: updated

#3445 Add GotRadio connector
  src/connectors/gotradio.js
  src/core/connectors.js
Labels: added, minor-change

#3444 frisky.fm connector
  src/connectors/friskyfm.js
  src/core/connectors.js
Labels: added, minor-change

#3458 LightningStream Connector
  src/connectors/lightningstream.js
  src/core/connectors.js
Labels: added, minor-change

#3467 Update LightningStream connector
  src/connectors/lightningstream.js
  src/core/connectors.js
Labels: updated, patch-change

#3468 Fix and refactor Horizonte connector as Mediastream + 4 sites
  src/connectors/horizonte.cl.js
  src/connectors/mediastream.js
  src/core/connectors.js
Labels: updated, minor-change

#3469 Fix Rock&Pop Chile connector
  src/connectors/rockandpop.cl.js
  src/connectors/rockandpopcl.js
  src/core/connectors.js
Labels: updated, minor-change

#3470 Refactor WSUM connector for general use as Securenet Systems
  src/connectors/securenetsystems.js
  src/connectors/wsum.js
  src/core/connectors.js
Labels: added, minor-change

#3471 Update Freegal Music connector
  src/connectors/freegalmusic.js
  src/core/connectors.js
Labels: updated, minor-change

#3472 Update Burntable connector
  src/connectors/burntable.js
Labels: updated, patch-change

#3477 Add support for Super45.fm via Radio.co
  src/core/connectors.js
Labels: added, minor-change

#3475 Update QCIndie Connector
  src/connectors/qcindie.js
Labels: updated, fixed

#3474 WBRU connector
  src/core/connectors.js
Labels: added, minor-change

#3479 Use pinned version of discord notify
  .github/workflows/discord-release-msg.yml
Labels: maintenance, skip-changelog

#3494 Updated connector to Intergalactic FM
  src/connectors/intergalacticfm.js
Labels: updated, patch-change

#3489 Add connector for uwu radio
  src/connectors/uwu-radio.js
  src/core/connectors.js
Labels: added, minor-change
