Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-05, with the labels that each got.

#3239 Added connector for Husk Recordings website audio player
  src/connectors/huskrecordings.js
  src/core/connectors.js
Labels: added, patch-change

#3237 Minor CSS edit to fix small gap below image in popup
  src/ui/popups/info.css
Labels: fixed, patch-change

#3243 Fix Grimme Radio
  src/connectors/gimmeradio.js
Labels: updated, patch-change

#3244 Refine Amazon playButtonSelector
  src/connectors/amazon.js
Labels: fixed, patch-change

#3258 Fix origin URL for bandcamp embed
  src/connectors/bandcamp-embed.js
  src/connectors/bandcamp.js
  src/core/content/util.js
Labels: bugfix, patch-change
