Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-02, with the labels that each got.

#3124 Add support for La Radio du bord de l'eau
  src/connectors/auborddeleau.radio.js
  src/core/connectors.js
Labels: added

#3131 Discord notify
  .github/release-drafter.yml
  .github/workflows/discord-release-msg.yml
Labels: skip-changelog

#3137 Automated version resolution
  .github/release-drafter.yml
Labels: skip-changelog

#3136 Enable streetvoice on .com
  src/core/connectors.js
Labels: fixed, patch

#3141 Added 256 & 512 squared extension icons/images
  src/icons/cover_art_default.png
  src/icons/cover_art_unknown.png
  src/icons/cover_art_unknown.svg
  src/icons/icon_chrome.svg
  src/icons/icon_chrome_128.png
  src/icons/icon_chrome_256.png
  src/icons/icon_chrome_48.png
  src/icons/icon_chrome_512.png
  src/icons/icon_chrome_circle.svg
  src/icons/icon_firefox.svg
  src/icons/icon_firefox_128.png
  src/icons/icon_firefox_256.png
  src/icons/icon_firefox_48.png
  src/icons/icon_firefox_512.png
  src/icons/icon_generic_16.png
  src/icons/page_action_base.svg
  src/icons/page_action_base_19.png
  src/icons/page_action_base_38.png
  src/icons/page_action_disabled.svg
  src/icons/page_action_disabled_19.png
  src/icons/page_action_disabled_38.png
  src/icons/page_action_error.svg
  src/icons/page_action_error_19.png
  src/icons/page_action_error_38.png
  src/icons/page_action_ignored.svg
  src/icons/page_action_ignored_19.png
  src/icons/page_action_ignored_38.png
  src/icons/page_action_loading.svg
  src/icons/page_action_loading_19.png
  src/icons/page_action_loading_38.png
  src/icons/page_action_loved.svg
  src/icons/page_action_loved_19.png
  src/icons/page_action_loved_38.png
  src/icons/page_action_note.svg
  src/icons/page_action_note_19.png
  src/icons/page_action_note_38.png
  src/icons/page_action_skipped.svg
  src/icons/page_action_skipped_19.png
  src/icons/page_action_skipped_38.png
  src/icons/page_action_tick.svg
  src/icons/page_action_tick_19.png
  src/icons/page_action_tick_38.png
  src/icons/page_action_unknown.svg
  src/icons/page_action_unknown_19.png
  src/icons/page_action_unknown_38.png
  src/icons/page_action_unloved.svg
  src/icons/page_action_unloved_19.png
  src/icons/page_action_unloved_38.png
  src/icons/page_action_unsupported.svg
  src/icons/page_action_unsupported_19.png
  src/icons/page_action_unsupported_38.png
  src/manifest.json
Labels: maintenance, minor

#3146 Fixed jango.com connector after layout changes
  src/connectors/jango.js
Labels: fixed, patch

#3145 Fixed the connector for FluxFM web radio.
  src/connectors/fluxfm.js
  src/core/connectors.js
Labels: fixed, patch

#3148 Change release message trigger
  .github/workflows/discord-release-msg.yml
Labels: skip-changelog
