Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-08, with the labels that each got.

#3317 Fix Epidemic Sound connector
  src/connectors/epidemicsound.js
Labels: fixed, patch-change

#3316 kcrw connector
  src/connectors/kcrw.js
  src/core/connectors.js
Labels: added, minor-change

#3312 Feature/add livephish.com connector
  src/connectors/livephish.js
  src/core/connectors.js
Labels: added, minor-change

#3315 Fix Tidal duration selector.
  src/connectors/tidal.js
Labels: updated, patch-change

#3318 KCRW - fix player selector
  src/connectors/kcrw.js
Labels: fixed, patch-change

#3322 Add Ishkur's Guide to Electronic Music
  src/connectors/ishkur.js
  src/core/connectors.js
Labels: added, minor-change

#2969 Initial support for Online Radio Box
  src/connectors/onlineradiobox.js
  src/core/connectors.js
Labels: added, minor-change

#3325 Update connector for hoopladigital.com
  src/connectors/hoopladigital.js
Labels: fixed, patch-change

#3328 Update selectors for hoopladigital.com connector
  src/connectors/hoopladigital.js
Labels: updated, patch-change

#3336 Update selector for hoopladigital.com connector
  src/connectors/hoopladigital.js
Labels: fixed, patch-change

#3335 Update connector for freegalmusic.com
  src/connectors/freegalmusic.js
Labels: updated, patch-change

#3339 Fix resonate URL
  src/core/connectors.js
Labels: fixed

#3345 Add MUSICat connector with support for 14 local library sites
  src/connectors/musicat.js
  src/core/connectors.js
Labels: added, minor-change
