Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-09, with the labels that each got.

#3360 Minor edit to MUSICat connector to fix blurry artwork in playlist
  src/connectors/musicat.js
Labels: updated, minor-change

#3359 Fix connector for dandelionradio.com
  src/connectors/dandelionradio.js
Labels: fixed, minor-change

#3362 Add new connector for KJazz 88.1
  src/connectors/listenlive.js
  src/core/connectors.js
Labels: added, minor-change

#3363 Fix connector for Jazz24
  src/connectors/jazz24.js
  src/connectors/wostreaming.js
  src/core/connectors.js
Labels: added, minor-change

#3361 Minor CSS edits for popup
  src/ui/popups/info.css
Labels: fixed, patch-change

#3295 Update playlist-randomizer connector
  src/connectors/playlist-randomizer.js
  src/core/connectors.js
Labels: updated, patch-change

#3369 Implement "love track" feature for listenbrainz (closes #3212)
  src/core/background/scrobbler/listenbrainz-scrobbler.js
Labels: added, minor-change

#3308 Provide way to release from GitHub UI
  .github/workflows/release-extension.yml
  Gruntfile.js
Labels: maintenance, patch-change

#3374 Add node steps to release pipeline
  .github/workflows/release-extension.yml
Labels: skip-changelog, patch-change

#3375 Fix pipeline syntax
  .github/workflows/release-extension.yml
Labels: skip-changelog, patch-change

#3376 Update release-extension.yml
  .github/workflows/release-extension.yml
Labels: skip-changelog, patch-change

#3380 Fix connector for Deezer
  src/connectors/deezer-dom-inject.js
Labels: fixed, patch-change

#3381 Add beatbump connector
  src/connectors/beatbump.js
  src/core/connectors.js
Labels: added, minor-change

#3382 Add trackart to beatbump
  src/connectors/beatbump.js
Labels: fixed, patch-change

#3384 Add connector for Hardtunes
  src/connectors/hardtunes.js
  src/core/connectors.js
Labels: added, minor-change

#3383 fix: update yt music connector playingPath variable
  src/connectors/youtube-music.js
Labels: fixed, patch-change

#3393 Support both playingPaths
  src/connectors/youtube-music.js
Labels: fixed, patch-change
