Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-07, with the labels that each got.

#3294 Feature/add nugs connector
  src/connectors/nugs.js
  src/core/connectors.js
Labels: added, minor-change

#3291 Remove unneeded data from originUrl in listens on YouTube and embedded YouTube
  src/connectors/youtube-embed.js
  src/connectors/youtube.js
Labels: updated, patch-change

#3278 Send more additional information to listenbrainz
  package.json
  src/connectors/spotify.js
  src/core/background/scrobbler/listenbrainz-scrobbler.js
Labels: updated, patch-change

#3299 Fix spotify for unique ID change
  src/connectors/spotify.js
  src/core/background/scrobbler/listenbrainz-scrobbler.js
Labels: fixed, patch-change

#3297 Improve Listenbrainz meta
  src/core/background/scrobbler/listenbrainz-scrobbler.js
  src/core/background/util/util-browser.js
Labels: added, minor-change

#3307 Send album and album artist data to maloja
  src/core/background/scrobbler/maloja-scrobbler.js
Labels: updated, minor-change
