Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-12, with the labels that each got.

#3513 Fix radiorecord connector again: selectors changed (#3300)
  src/connectors/radiorecord.js
Labels: fixed

#3516 Sanatise Bandcamp default origin URL
  src/connectors/bandcamp.js
Labels: updated

#3529 Add Radio 357 connector
  src/connectors/radio357.js
  src/core/connectors.js
Labels: added, minor-change

#3518 Add Piped connector
  src/connectors/piped.js
  src/core/connectors.js
Labels: added, minor-change

#3530 MyStreamPlayer connector
  src/connectors/mystreamplayer.js
  src/core/connectors.js
Labels: added, minor-change
