Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-04, with the labels that each got.

#3207 Add connector for hoopladigital.com
  src/connectors/hoopladigital.js
  src/core/connectors.js
Labels: added, minor-change

#3221 fix FIP connector
  src/connectors/fip.js
  src/core/connectors.js
Labels: updated, minor-change

#3210 Organize option labels and titles, fix indentation
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/sk_SK/messages.json
  src/_locales/zh/messages.json
Labels: maintenance, patch-change

#3215 Added connector to Intergalactic FM
  src/connectors/intergalacticfm.js
  src/core/connectors.js
Labels: added, minor-change

#3219 Add connector for burntable.com
  src/connectors/burntable.js
  src/core/connectors.js
Labels: added, minor-change

#3175 Bandcamp fix albumArtist filter
  src/core/background/object/scrobble-service.js
  src/core/background/scrobbler/base-scrobbler.js
  src/core/background/scrobbler/lastfm-scrobbler.js
Labels: fixed, patch-change

#3230 (fix) update Idagio `isPlaying` selector
  src/connectors/idagio.js
Labels: fixed, patch-change

#3233 Prevent scrobbling radio7 on non-tracks
  src/connectors/radio7.js
Labels: updated, patch-change

#3235 Improve SoundCloud origin+id
  src/connectors/soundcloud.js
Labels: updated, patch-change

#2952 Add Yammat FM connector
  src/connectors/yammat.fm.js
  src/core/connectors.js
Labels: added, minor-change

#3234 Add connector for Indonesian music archive Irama Nusantara
  src/connectors/iramanusantara.js
  src/core/connectors.js
Labels: added, minor-change
