Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-10, with the labels that each got.

#3399 Beatpump - enlarge trackartwork
  src/connectors/beatbump.js
Labels: updated, minor-change

#3400 Update matches for Douban.FM
  src/core/connectors.js
Labels: updated, minor-change

#3394 Add connector for XRAY.FM
  src/connectors/xrayfm.js
  src/core/connectors.js
Labels: added, minor-change

#3401 Add World Fusion Radio
  src/connectors/worldfusionradio.js
  src/core/connectors.js
Labels: added, minor-change

#3402 Add LINE MUSIC connector
  src/connectors/line-music.js
  src/core/connectors.js
Labels: added, minor-change

#3408 Update KCRW connector
  src/connectors/kcrw.js
  src/core/connectors.js
Labels: updated, patch-change, minor-change

#3409 Add connector for The Jazz Groove
  src/connectors/jazzgroove.js
  src/core/connectors.js
Labels: added, minor-change

#3388 Update Mixcloud connector
  src/connectors/mixcloud.js
  src/core/connectors.js
Labels: updated, minor-change

#3411 Fix compatibility issue with SponsorBlock
  src/connectors/youtube.js
Labels: bugfix, patch-change

#3415 Update util.js normalizeUrl helper
  src/core/content/util.js
Labels: updated, patch-change

#3416 Fix Radio Horizonte connector
  src/connectors/horizonte.cl.js
Labels: fixed, patch-change

#3417 Fix Epidemic Sound connector
  src/connectors/epidemicsound.js
Labels: fixed, patch-change

#3418 Update Radio.co connector
  src/connectors/radioco.js
Labels: updated, patch-change

#3419 Update KEXP connector
  src/connectors/kexp.js
  src/core/connectors.js
Labels: updated, patch-change

#3424 QCIndie Connector
  src/connectors/qcindie.js
  src/core/connectors.js
Labels: added, minor-change

#3426 Update The Jazz Groove connector
  src/connectors/jazzgroove.js
Labels: updated, patch-change

#3427 Update KCRW connector
  src/connectors/kcrw.js
Labels: updated, patch-change

#3428 Update anime(bits) connector
  src/connectors/animebits.js
  src/core/connectors.js
Labels: updated, patch-change

#3429 Add connector for Colorado Public Radio
  src/connectors/cpr.js
  src/core/connectors.js
Labels: added, minor-change

#3431 Update CPR connector
  src/connectors/cpr.js
Labels: updated, minor-change

#3422 Fix interaction with sponsorblock completely
  src/connectors/youtube.js
Labels: fixed, patch-change

#3438 Add connector for DKFM
  src/connectors/decayfm.js
  src/core/connectors.js
Labels: added, minor-change

#3439 Add connector for Streemlion
  src/connectors/streemlion.js
  src/core/connectors.js
Labels: added, minor-change

#3441 WXPN Connector
  src/connectors/xpn.js
  src/core/connectors.js
Labels: added, minor-change

#3443 Fix duplicate scrobbles on Spotify
  src/connectors/spotify.js
Labels: fixed, minor-change

#3448 Configure dependabot to update actions
  .github/dependabot.yml
Labels: skip-changelog

#3449 Fix dependabot config
  .github/dependabot.yml
Labels: skip-changelog
