Repository web-scrobbler/web-scrobbler, pull requests merged in 2022-03, with the labels that each got.

#3153 Replace jQuery.ready (deprecated)
  src/ui/.eslintrc.yml
  src/ui/options/index.js
  src/ui/popups/info.js
Labels: maintenance, patch

#3156 open.fm-connector: remove year from album name (issue #3060)
  src/connectors/openfm.js
Labels: added, patch

#3158 Added connector for polish internet radio "Radio Nowy Swiat"
  src/connectors/nowyswiat.js
  src/core/connectors.js
Labels: added, minor

#3154 feat: add connector for night.fm
  src/connectors/night.fm.js
  src/core/connectors.js
Labels: added, minor

#3169 Added a connector for portuguese radio Oxigenio FM
  src/connectors/oxigenio.fm.js
  src/core/connectors.js
Labels: added, minor

#3170 Added a connector for free web radio Radiolla
  src/connectors/radiolla.js
  src/core/connectors.js
Labels: added, minor

#3174 Add CodeRadio support
  src/connectors/coderadio.js
  src/core/connectors.js
Labels: added, minor

#3177 Bump node to 16.14.2
  .nvmrc
  package-lock.json
  package.json
Labels: maintenance, patch

#3194 Qobuz - select only album as album
  src/connectors/qobuz.js
Labels: updated, patch-change

#3199 Update Apple Music domain matcher
  src/core/connectors.js
Labels: updated, patch-change
