Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-01, with the labels that each got.

#3534 Add edge publish action
  .github/workflows/deploy.yml
Labels: maintenance, skip-changelog

#3535 Add amazing radio connector
  src/connectors/amazingradio.js
  src/core/connectors.js
Labels: added, minor-change

#3503 Update emby.js
  src/connectors/emby.js
Labels: updated, patch-change

#3539 Enhance Synology Support
  src/core/connectors.js
Labels: updated, patch-change

#3550 Fix Audacy connector
  src/connectors/audacy.js
Labels: fixed, patch-change

#3548 Update Freegal Music connector for redesign
  src/connectors/freegalmusic.js
Labels: updated, patch-change
