Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-02, with the labels that each got.

#3556 Fix lone bracket in RegExp
  src/core/content/util.js
Labels: chore, fixed

#3562 Add connector for KINK
  src/connectors/kinknl.js
  src/core/connectors.js
Labels: connector, added

#3557 Add connector for DR (Danmarks Radio)
  src/connectors/dr-lyd.js
  src/core/connectors.js
Labels: added, minor-change

#3561 Fix selector in Audacy connector
  src/connectors/audacy.js
Labels: connector, fixed

#3569 Update deploy.yml
  .github/workflows/deploy.yml
Labels: maintenance

#3576 Fix Spotify connector
  src/connectors/spotify.js
Labels: fixed, patch-change

#3567 Fix beatbump's connector
  src/connectors/beatbump.js
Labels: connector, fixed

#3582 Update Tidal track selector.
  src/connectors/tidal.js
Labels: connector, fixed
