Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-06, with the labels that each got.

#3829 Reduce and prefix logging
  scripts/set-test-env.ts
  src/connectors/clyp.ts
  src/connectors/deezer-dom-inject.ts
  src/connectors/gaana.ts
  src/core/content/main.ts
  src/core/content/reactor.ts
  src/core/object/controller/controller.ts
  src/core/object/pipeline/coverartarchive/coverartarchive.ts
  src/core/object/pipeline/regex-edits.ts
  src/core/object/pipeline/user-input.ts
  src/core/object/scrobble-service.ts
  src/core/object/song.ts
  src/core/storage/options.ts
  src/core/storage/wrapper.ts
  src/util/notifications.ts
  tests/background/saved-edits.test.ts
  vitest.config.ts
Labels: core, chore, patch-change

#3837 Fix popup bugs
  src/ui/popup/nowplaying.tsx
  src/ui/popup/popup.module.scss
Labels: core, fixed

#3839 Update RU translations
  src/_locales/ru/messages.json
Labels: updated, patch-change

#3838 Fix throttle
  src/core/content/util.ts
Labels: core, fixed

#3840 Add renovate for nvm
  .github/renovate.json
Labels: skip-changelog, patch-change

#3844 Fix build pipeline triggers
  .github/workflows/build.yml
Labels: skip-changelog, patch-change

#3845 Update README.md
  README.md
Labels: skip-changelog, patch-change

#3825 Tidy listenbrainz scrobbler
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
Labels: maintenance, patch-change

#3858 Simplify priority
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/object/controller/controller.ts
Labels: core, patch-change

#3859 Apple stuff
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/universal-icon-1024@1x.png
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.pbxproj
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/xcuserdata/User.xcuserdatad/xcschemes/xcschememanagement.plist
  manifest.config.ts
  scripts/generate-icons.ts
  src/core/background/util.ts
  src/ui/options/components/info.tsx
  src/util/util-browser.ts
Labels: skip-changelog, patch-change

#3856 Fix image url helper
  src/core/content/util.ts
Labels: core, fixed

#3818 Move scrobble service calls to service worker
  src/_locales/en/messages.json
  src/core/background/main.ts
  src/core/background/scrobble.ts
  src/core/content/main.ts
  src/core/object/controller/controller.ts
  src/core/object/pipeline/metadata.ts
  src/core/object/scrobble-service.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/lastfm/lastfm-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/ui/popup/err.tsx
  src/util/communication.ts
  tests/mocks/webextension-polyfill.ts
Labels: core, patch-change

#3827 Update deploy.yml
  .github/workflows/deploy.yml
Labels: maintenance, skip-changelog, patch-change

#3865 Fix manifest
  manifest.config.ts
Labels: chore, skip-changelog, patch-change

#3871 Fix cross browser notifications
  src/util/notifications.ts
Labels: core, fixed

#3860 Pull new translations
  src/_locales/bn_BD/messages.json
  src/_locales/bn_BD/privacy.md
  src/_locales/el/messages.json
  src/_locales/el/privacy.md
  src/_locales/en_BR/messages.json
  src/_locales/en_BR/privacy.md
  src/_locales/en_GB/messages.json
  src/_locales/en_GB/privacy.md
  src/_locales/en_US/messages.json
  src/_locales/en_US/privacy.md
  src/_locales/es/privacy.md
  src/_locales/es_MX/messages.json
  src/_locales/es_MX/privacy.md
  src/_locales/fi/messages.json
  src/_locales/fi/privacy.md
  src/_locales/fr_FR/messages.json
  src/_locales/fr_FR/privacy.md
  src/_locales/id/messages.json
  src/_locales/id/privacy.md
  src/_locales/ko/messages.json
  src/_locales/ko/privacy.md
  src/_locales/lt/messages.json
  src/_locales/lt/privacy.md
  src/_locales/pt_PT/messages.json
  src/_locales/pt_PT/privacy.md
  src/_locales/sk_SK/privacy.md
  src/_locales/sl_SI/messages.json
  src/_locales/sl_SI/privacy.md
  src/_locales/tr_TR/messages.json
  src/_locales/tr_TR/privacy.md
  src/_locales/uk_UA/messages.json
  src/_locales/uk_UA/privacy.md
  src/_locales/zh/privacy.md
  src/_locales/zh_TW/messages.json
  src/_locales/zh_TW/privacy.md
Labels: patch-change

#3870 Reimplement commands
  manifest.config.ts
  src/core/background/main.ts
Labels: core, fixed

#3864 Fix 1001tracklists connector
  src/connectors/1001tracklists.ts
Labels: connector, fixed

#3876 Fix RadioParadise connector
  src/connectors/radioparadise.ts
Labels: fixed, patch-change

#3873 Add fetch album artist from music kit instance
  src/connectors/musickit-dom-inject.ts
Labels: connector, updated, patch-change

#3888 Fix Irama Nusantara connector not working properly
  src/connectors/iramanusantara.ts
Labels: fixed, patch-change

#3904 Add time selectors to Irama Nusantara
  src/connectors/iramanusantara.ts
Labels: updated, patch-change

#3905 Update LT translations
  src/_locales/lt/messages.json
Labels: updated, patch-change
