Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-05, with the labels that each got.

#3691 Fix play button case of default isPlaying.
  src/core/content/connector.ts
Labels: bug, fixed

#3671 Add Regex/Bulk Edits
  .nvmrc
  .prettierignore
  package-lock.json
  package.json
  src/_locales/en/messages.json
  src/core/background/main.ts
  src/core/object/cloned-song.ts
  src/core/object/pipeline/copy.ts
  src/core/object/pipeline/metadata.ts
  src/core/object/pipeline/normalize.ts
  src/core/object/pipeline/pipeline.ts
  src/core/object/pipeline/regex-edits.ts
  src/core/object/song.ts
  src/core/storage/browser-storage.ts
  src/core/storage/regex-edits.model.ts
  src/core/storage/regex-edits.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/components.module.scss
  src/ui/options/components/options/options.tsx
  src/ui/options/components/options/regex-edits.tsx
  src/ui/options/main.tsx
  src/ui/popup/edit.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
  src/util/regex.ts
  src/util/util.ts
  tests/background/regex.test.ts
  tests/mocks/webextension-polyfill.ts
  tests/stubs/webextension-polyfill.ts
  vitest.config.ts
Labels: core, added, major-change

#3688 Add funding message
  src/_locales/en/messages.json
  src/ui/options/components/components.module.scss
  src/ui/options/components/showSomeLove.tsx
Labels: chore, skip-changelog

#3692 dont output "expected a number or a string"
  src/core/storage/wrapper.ts
Labels: chore, minor-change

#3695 Add error logging to pipeline
  src/core/object/pipeline/regex-edits.ts
  src/core/object/pipeline/user-input.ts
Labels: core, chore, patch-change

#3693 Reimplement tests
  src/core/storage/custom-patterns.ts
  src/core/storage/saved-edits.model.ts
  tests/background/connectors.test.ts
  tests/background/custom-patterns.test.ts
  tests/background/regex-edits.test.ts
  tests/background/saved-edits.test.ts
  tests/background/storage.test.ts
  tests/mocks/webextension-polyfill.ts
Labels: maintenance, added

#3694 Reorganize options
  src/_locales/en/messages.json
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/edit-options/edit-options.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/options/options.tsx
  src/ui/options/main.tsx
  src/ui/options/sidebar/sidebar.module.scss
  src/ui/options/sidebar/sidebar.tsx
Labels: core, fixed

#3698 Fix edit import/exports
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
Labels: core, fixed

#3700 Add links to now playing popup
  src/ui/popup/nowplaying.tsx
  src/ui/popup/popup.module.scss
  src/util/util.ts
Labels: core, added

#3713 Fix imports/exports again
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/main.tsx
Labels: core, fixed

#3714 Make options page more responsive, improve building
  build.ts
  manifest.config.ts
  safari.sh
  src/core/background/action.ts
  src/core/background/main.ts
  src/theme/themes.scss
  src/ui/components/context-menu/context-menu.module.scss
  src/ui/components/context-menu/context-menu.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/edit-options/edit-options.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/main.tsx
  src/ui/options/settings.module.scss
  src/ui/options/sidebar/sidebar.module.scss
  src/ui/options/sidebar/sidebar.tsx
Labels: core, added

#3726 Add support for m.youtube.com
  src/connectors/youtube.ts
  src/core/connectors.ts
Labels: connector, added

#3727 Support windows in build
  scripts/util.ts
  vite.configs.ts
  vitest.config.ts
Labels: core, fixed

#3725 Make popup responsive
  src/_locales/en/messages.json
  src/core/background/main.ts
  src/core/background/util.ts
  src/ui/components/context-menu/context-menu.module.scss
  src/ui/components/context-menu/context-menu.tsx
  src/ui/components/util.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/main.tsx
  src/ui/options/settings.module.scss
  src/ui/popup/edit.tsx
  src/ui/popup/index.html
  src/ui/popup/main.tsx
  src/ui/popup/nowplaying.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
Labels: core, added

#3728 Add compatibility with multiple player selectors
  src/core/content/starter.ts
Labels: core, added

#3731 Update year in license file
  LICENSE.md
Labels: maintenance, chore

#3732 Add xcode project to repo
  .eslintignore
  .prettierignore
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AccentColor.colorset/Contents.json
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/Contents.json
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-128@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-128@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-16@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-16@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-256@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-256@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-32@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-32@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-512@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-512@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/universal-icon-1024@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/Contents.json
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/LargeIcon.imageset/Contents.json
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/LargeIcon.imageset/icon_main_256.png
  .xcode/Web Scrobbler/Shared (App)/Base.lproj/Main.html
  .xcode/Web Scrobbler/Shared (App)/Resources/Icon.png
  .xcode/Web Scrobbler/Shared (App)/Resources/Script.js
  .xcode/Web Scrobbler/Shared (App)/Resources/Style.css
  .xcode/Web Scrobbler/Shared (App)/ViewController.swift
  .xcode/Web Scrobbler/Shared (Extension)/SafariWebExtensionHandler.swift
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.pbxproj
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/xcuserdata/User.xcuserdatad/xcschemes/xcschememanagement.plist
  .xcode/Web Scrobbler/iOS (App)/AppDelegate.swift
  .xcode/Web Scrobbler/iOS (App)/Base.lproj/LaunchScreen.storyboard
  .xcode/Web Scrobbler/iOS (App)/Base.lproj/Main.storyboard
  .xcode/Web Scrobbler/iOS (App)/Info.plist
  .xcode/Web Scrobbler/iOS (App)/SceneDelegate.swift
  .xcode/Web Scrobbler/iOS (Extension)/Info.plist
  .xcode/Web Scrobbler/macOS (App)/AppDelegate.swift
  .xcode/Web Scrobbler/macOS (App)/Base.lproj/Main.storyboard
  .xcode/Web Scrobbler/macOS (App)/Info.plist
  .xcode/Web Scrobbler/macOS (App)/Web Scrobbler.entitlements
  .xcode/Web Scrobbler/macOS (Extension)/Info.plist
  .xcode/Web Scrobbler/macOS (Extension)/Web Scrobbler.entitlements
  build.ts
  safari.sh
Labels: core, added, skip-changelog

#3733 Update extensionBundleIdentifier
  .xcode/Web Scrobbler/Shared (App)/ViewController.swift
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/xcuserdata/User.xcuserdatad/xcschemes/xcschememanagement.plist
  .xcode/Web Scrobbler/macOS (App)/Base.lproj/Main.storyboard
Labels: core, fixed, skip-changelog

#3748 Update 163-music.ts
  src/connectors/163-music.ts
Labels: connector, updated

#3756 Replace action icons
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/xcuserdata/User.xcuserdatad/xcschemes/xcschememanagement.plist
  src/icons/monochrome/action_base.svg
  src/icons/monochrome/action_disabled.svg
  src/icons/monochrome/action_error.svg
  src/icons/monochrome/action_ignored.svg
  src/icons/monochrome/action_loading.svg
  src/icons/monochrome/action_playing.svg
  src/icons/monochrome/action_scrobbled.svg
  src/icons/monochrome/action_skipped.svg
  src/icons/monochrome/action_unknown.svg
  src/icons/monochrome/action_unsupported.svg
Labels: core, updated

#3752 fix scrobble not working when play a playlist
  src/core/object/timer.ts
Labels: core, fixed

#3759 Update logos
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/universal-icon-1024@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/LargeIcon.imageset/icon_main_256.png
  .xcode/Web Scrobbler/Shared (App)/Resources/Icon.png
  scripts/generate-icons.ts
  src/icons/main/safari.svg
  src/icons/main/universal.svg
Labels: core, fixed

#3761 Add executable permission to release-extension.sh
  release-extension.sh
Labels: maintenance, chore, skip-changelog

#3762 Fix old release script error
  release-extension.sh
Labels: maintenance, chore, skip-changelog

#3763 Update firefox deploy action
  .github/workflows/deploy.yml
Labels: maintenance, chore, patch-change

#3764 Update firefox deploy action
  .github/workflows/deploy.yml
Labels: maintenance, chore, patch-change

#3765 Improve dist script
  build.ts
  scripts/create-distributable.ts
Labels: maintenance, chore, patch-change

#3766 Bump edge-addon publish
  .github/workflows/deploy.yml
Labels: updated, patch-change

#3767 Update extension ID
  manifest.config.ts
Labels: chore, updated, patch-change

#3775 Remove inject script exports
  src/connectors/deezer-dom-inject.ts
  src/connectors/eggs-dom-inject.ts
  src/connectors/musickit-dom-inject.ts
  src/connectors/sber-zvuk-dom-inject.ts
  src/connectors/vk-dom-inject.ts
  src/connectors/yandex-music-dom-inject.ts
Labels: connector, fixed

#3783 Update MusicKit connector and apply to Apple Music
  src/connectors/apple-music.ts
  src/connectors/musickit-dom-inject.ts
  src/core/connectors.ts
Labels: connector, updated, patch-change

#3776 Add tooltips for common errors
  src/_locales/en/messages.json
  src/ui/popup/err.tsx
  src/ui/popup/unsupported.tsx
Labels: core, chore, patch-change

#3784 Add ACTIONS_STEP_DEBUG to deploy pipeline
  .github/workflows/deploy.yml
Labels: maintenance, chore

#3785 added: save song edit when enter key is pressed
  src/ui/popup/edit.tsx
  src/ui/popup/regex.tsx
Labels: core, chore, patch-change

#3792 Fix vivaldi crashing when opening links from popup
  .eslintrc.yml
  src/ui/components/util.tsx
  src/ui/popup/base.tsx
  src/ui/popup/disabled.tsx
  src/ui/popup/edit.tsx
  src/ui/popup/err.tsx
  src/ui/popup/main.tsx
  src/ui/popup/nowplaying.tsx
  src/ui/popup/unsupported.tsx
  src/util/i18n.ts
Labels: core, fixed

#3794 Revert "Add ACTIONS_STEP_DEBUG to deploy pipeline"
  .github/workflows/deploy.yml
Labels: maintenance, skip-changelog, patch-change

#3795 Fix nowplaying links
  src/ui/popup/nowplaying.tsx
Labels: core, fixed

#3803 Change compression level for releases
  scripts/create-distributable.ts
Labels: skip-changelog, minor-change

#3801 Improve service worker performance with many tabs
  src/core/background/action.ts
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/object/controller/controller.ts
  src/util/communication.ts
Labels: core, fixed

#3797 Don't fetch edits on unsupported sites
  src/core/content/main.ts
  src/core/storage/custom-storage.ts
  src/core/storage/regex-edits.ts
  src/core/storage/saved-edits.ts
  src/core/storage/wrapper.ts
  tests/background/regex-edits.test.ts
  tests/background/saved-edits.test.ts
Labels: core, fixed

#3796 Fix regex edit flag conditions
  src/util/regex.ts
Labels: core, fixed

#3804 Fix timer
  src/core/object/timer.ts
Labels: core, fixed

#3805 Fix edit delay check
  src/core/object/controller/controller.ts
  src/ui/popup/edit.tsx
Labels: core, fixed

#3813 Use TLS when fetching cover art
  src/core/object/pipeline/coverartarchive/coverartarchive.ts
Labels: maintenance, patch-change

#3816 Fix Apple Music connector
  src/connectors/musickit-dom-inject.ts
Labels: connector, fixed

#3814 Handle duration in accuradio
  src/connectors/accuradio.ts
Labels: fixed, patch-change

#3815 Fix handling of tracks without duration
  src/core/object/controller/controller.ts
  src/core/object/timer.ts
  src/util/util.ts
Labels: core, fixed
