Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-08, with the labels that each got.

#3975 Fix (mostly any-related) issues introduced by the ESLint upgrade.
  scripts/log.ts
  src/connectors/deezer-dom-inject.ts
  src/connectors/deezer.ts
  src/connectors/eggs-dom-inject.ts
  src/connectors/eggs.ts
  src/connectors/musickit-dom-inject.ts
  src/connectors/musickit.ts
  src/connectors/sber-zvuk-dom-inject.ts
  src/connectors/sber-zvuk.ts
  src/connectors/vk-dom-inject.ts
  src/connectors/vk.ts
  src/connectors/yandex-music-dom-inject.ts
  src/connectors/yandex-music.ts
  src/connectors/youtube.ts
  src/core/content/util.ts
  src/types/declaration.d.ts
  src/util/communication.ts
  src/util/emitter.ts
  src/util/regex.ts
  tests/background/song.test.ts
  tests/background/util.test.ts
  tests/content/util.test.ts
  tests/mocks/webextension-polyfill.ts
Labels: maintenance, chore, dependencies

#4001 Add TrackerHub scrobble support
  src/connectors/trackerhub.ts
  src/core/connectors.ts
Labels: connector, added, minor-change

#3892 Fix Idagio connector
  src/connectors/idagio.ts
Labels: fixed, patch-change

#4050 Ignore search parameters when getting a unique ID for SoundCloud
  src/connectors/soundcloud.ts
Labels: connector, fixed

#4053 Use node-version-file for node version resolution
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/release-extension.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: maintenance, patch-change

#4054 Fix pipeline refactor for release
  .github/workflows/release-extension.yml
Labels: maintenance, patch-change

#4005 Update SiriusXM track meta filtering
  src/connectors/siriusxm-player.ts
Labels: connector, updated, minor-change

#4069 Fix beatbump connector by updating url
  src/core/connectors.ts
Labels: fixed, patch-change
