Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-07, with the labels that each got.

#3926 Fix poolsuite.net not scrobbling
  src/connectors/poolsuite.ts
Labels: fixed, patch-change

#3939 Run audit fix
  package-lock.json
Labels: maintenance, chore

#3930 Fix popup links width
  src/ui/popup/popup.module.scss
Labels: fixed, patch-change

#3940 Fix popup regression
  src/ui/popup/popup.module.scss
Labels: core, fixed

#3960 Fix synology
  src/connectors/synology.ts
Labels: fixed, patch-change

#3972 Add connector for Radio Carpice (radcap.ru)
  src/connectors/radcap.ts
  src/core/connectors.ts
Labels: added, minor-change

#3977 Updated SiriusXM Connector with more filters
  src/connectors/siriusxm-player.ts
Labels: updated, patch-change
