Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-04, with the labels that each got.

#3617 Apply changes to feature branch
  package-lock.json
  package.json
  src/connectors/audacy.js
  src/connectors/beatbump.js
  src/manifest.json
Labels: maintenance, chore

#3622 Add sourcemaps in dev mode
  vite.configs.ts
Labels: maintenance, patch-change

#3621 Upgrade to @web-scrobbler/metadata-filter
  .nvmrc
  package-lock.json
  package.json
  src/connectors/amazon.ts
  src/connectors/connector.d.ts
  src/connectors/deezer.ts
  src/connectors/invidious.ts
  src/connectors/listenonrepeat.ts
  src/connectors/musicoin.ts
  src/connectors/piped.ts
  src/connectors/playlist-randomizer.ts
  src/connectors/plex.ts
  src/connectors/plug.dj.ts
  src/connectors/queup.ts
  src/connectors/redditmusicplayer.ts
  src/connectors/soundcloud.ts
  src/connectors/spotify.ts
  src/connectors/tidal.ts
  src/connectors/turntable.fm.ts
  src/connectors/vk.ts
  src/connectors/watch2gether.ts
  src/connectors/youtube-embed.ts
  src/connectors/youtube.ts
  src/core/content/connector.ts
  src/core/content/main.ts
Labels: maintenance, patch-change

#3616 Add connector for copyparty
  src/connectors/copyparty.ts
  src/core/connectors.ts
Labels: added, minor-change

#3625 Make minor grammar updates in privacy.md
  src/_locales/en/privacy.md
Labels: updated, patch-change

#3623 Update Irama Nusantara TypeScript connector
  src/connectors/iramanusantara.ts
Labels: connector, fixed

#3647 Bring back edge publish
  .github/workflows/deploy.yml
Labels: added, skip-changelog

#3648 Fix chrome deploy
  .github/workflows/deploy.yml
Labels: fixed, skip-changelog

#3650 Add settings button to popup
  src/ui/popup/main.tsx
  src/ui/popup/popup.module.scss
Labels: added, minor-change

#3649 Add permission request to settings
  src/_locales/en/messages.json
  src/ui/options/components/components.module.scss
  src/ui/options/components/permissions.tsx
  src/ui/options/main.tsx
  src/ui/options/settings.module.scss
Labels: added, minor-change

#3651 Fix locking
  src/core/background/action.ts
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/storage/wrapper.ts
Labels: fixed, patch-change

#3652 Lazy load override options
  src/_locales/en/messages.json
  src/ui/options/components/options/connector-override.tsx
Labels: fixed, patch-change

#3653 Use offset icons for border
  scripts/generate-icons.ts
Labels: fixed, patch-change

#3656 Preload options
  src/ui/options/components/options/connector-options.tsx
  src/ui/options/components/options/connector-override.tsx
  src/ui/options/components/options/edited-tracks.tsx
  src/ui/options/components/options/global-options.tsx
  src/ui/options/components/options/options.tsx
Labels: patch-change

#3654 Add safari build process to workflow
  .github/workflows/build.yml
Labels: added, skip-changelog, github_actions

#3658 Update selector to new DOM tree
  src/connectors/iramanusantara.ts
Labels: connector, fixed

#3660 Split build workflow into multiple jobs
  .github/workflows/build.yml
Labels: maintenance, github_actions

#3657 Add tx support + pull updated translations
  .tx/config
  package-lock.json
  package.json
  scripts/translations-prepare.ts
  src/_locales/de/messages.json
  src/_locales/de/privacy.md
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/pt_BR/privacy.md
  src/_locales/ru/messages.json
  src/_locales/sk_SK/messages.json
  src/_locales/zh/messages.json
Labels: updated, minor-change

#3663 Add Fungjai connector
  src/connectors/fungjai.ts
  src/core/connectors.ts
Labels: connector, added

#3672 Remove settings button from Loading popup
  src/ui/popup/main.tsx
Labels: core, chore, skip-changelog

#3662 Fix context menu click event
  src/core/background/main.ts
Labels: core, fixed
