Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-11, with the labels that each got.

#4226 BBC Sounds connector fixes
  src/connectors/bbc-sounds.ts
Labels: updated

#4261 Update RU translations
  src/_locales/ru/messages.json
Labels: updated

#4251 Fix to LINE Music Web player connector
  src/connectors/line-music.ts
Labels: fixed, patch-change

#4237 Feature/update nugs connector
  src/connectors/nugs.ts
Labels: fixed, patch-change

#4273 Fix connector for Rekt Network
  src/connectors/rekt.network.ts
Labels: fixed, patch-change

#4271 Fix connector for Nowy Swiat Radio
  src/connectors/nowyswiat.ts
Labels: fixed, patch-change

#4268 Fix connector for FluxFM
  src/connectors/fluxfm.ts
Labels: fixed, patch-change

#4269 Fix connector for RadioFrance
  src/connectors/radiofrance.ts
  src/core/content/util.ts
Labels: fixed, patch-change

#4272 Fix connector for BrainFM
  src/connectors/brainfm.ts
  src/core/connectors.ts
Labels: fixed, patch-change

#4274 Add an artist filter for Rekt Network
  src/connectors/rekt.network.ts
Labels: updated, patch-change

#4276 Fix connector for 9128.live
  src/core/connectors.ts
Labels: fixed, patch-change

#4277 Fix deep-cut.fm connector
  src/connectors/deep-cut.fm.ts
  src/core/connectors.ts
Labels: connector, fixed, patch-change

#4291 Revert deep cut id change
  src/core/connectors.ts
Labels: skip-changelog, patch-change

#4293 fix byte.fm connector
  src/connectors/byte.fm.ts
Labels: fixed, patch-change

#4298 Fix RadioJavan connector
  src/connectors/radiojavan.ts
  src/core/connectors.ts
Labels: fixed, patch-change

#4297 Add connector for Primordial Radio
  src/connectors/primordialradio.ts
  src/core/connectors.ts
Labels: added, patch-change

#4312 New FMSpins.com Connector
  src/connectors/fmspins.ts
  src/core/connectors.ts
Labels: added, minor-change

#4302 Add Beeline Music connector
  src/connectors/beeline-music.ts
  src/core/connectors.ts
Labels: added, minor-change

#4321 Update RadioFrance connector
  src/connectors/radiofrance.ts
Labels: updated, patch-change

#4305 Add Q-Dance connector
  src/connectors/q-dance.ts
  src/core/connectors.ts
Labels: added, patch-change
