Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-12, with the labels that each got.

#4343 Fix scrobble percent option
  src/core/object/controller/controller.ts
  src/core/storage/options.ts
  src/ui/options/components/inputs.tsx
  src/util/util.ts
Labels: core, fixed

#4295 new connector: radio.de
  src/connectors/radio.de.ts
  src/core/connectors.ts
Labels: added, patch-change

#4311 Add Overcast connector
  src/connectors/overcast.ts
  src/core/connectors.ts
Labels: added, minor-change

#4340 Added connector for vk-save.com
  src/connectors/vk-save.ts
  src/core/connectors.ts
Labels: added, patch-change

#4352 Enable caching of npm dependencies
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/release-extension.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: chore, patch-change

#4353 Remove uploading build artifacts
  .github/workflows/build.yml
Labels: chore, patch-change

#4301 Add Радио Premium connector
  src/connectors/rpfm.ts
  src/core/connectors.ts
Labels: added, minor-change

#4383 Add connector for Buy Music Club
  src/connectors/buymusicclub.ts
  src/core/connectors.ts
Labels: added, patch-change

#4365 Add Radio Cidade connector
  src/connectors/radiocidade.ts
  src/core/connectors.ts
Labels: added, patch-change

#4310 Added connector for Radio Student
  src/connectors/radiostudent.ts
  src/core/connectors.ts
Labels: added, minor-change

#4364 Fix joox not scrobbling
  src/connectors/joox.ts
Labels: fixed, patch-change

#4386 Bump prettier to 3.1.1
  package-lock.json
  package.json
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/main.tsx
Labels: maintenance

#4359 Get custom ID from URL if possible on YouTube Music
  src/connectors/youtube-music.ts
Labels: updated, patch-change

#4334 KEXP connector - Added filter to replace "smart" quotes with plain
  src/connectors/kexp.ts
Labels: updated, patch-change
