Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-09, with the labels that each got.

#4068 Add Stationhead connector
  src/connectors/stationhead.ts
  src/core/connectors.ts
Labels: added, minor-change

#4070 Add Gensokyo Radio connector
  src/connectors/gensokyoradio-dom-inject.ts
  src/connectors/gensokyoradio.ts
  src/core/connectors.ts
Labels: added, minor-change

#4072 Increae vitest timeout from 5000ms to 10000ms
  vitest.config.ts
Labels: maintenance, patch-change

#4033 Improve onboarding and other UX
  src/core/background/main.ts
  src/ui/options/main.tsx
  src/ui/popup/disabled.tsx
  src/ui/popup/err.tsx
  src/util/notifications.ts
Labels: core, added, minor-change

#4080 Add soundcloud mobile support
  src/connectors/soundcloud.ts
  src/core/connectors.ts
Labels: added

#4079 Fix deezer connector and use import type
  src/connectors/deezer-dom-inject.ts
  src/connectors/deezer.ts
  src/connectors/redbull.ts
Labels: fixed

#4082 Fix placeholder on about changelog text
  src/_locales/en/messages.json
Labels: fixed, patch-change

#4049 Add Webhook support
  src/core/background/main.ts
  src/core/background/scrobble.ts
  src/core/object/controller/controller.ts
  src/core/object/scrobble-service.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/webhook-scrobbler.ts
  src/core/storage/browser-storage.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/accounts.tsx
  src/util/communication.ts
  src/util/util.ts
Labels: core, added

#4083 add technobase.fm connector
  src/connectors/technobase.fm.ts
  src/core/connectors.ts
Labels: connector, added

#4067 Silence console logs from content scripts by default
  src/_locales/en/messages.json
  src/core/content/util.ts
  src/core/storage/options.ts
  src/ui/options/components/options/global-options.tsx
Labels: added, minor-change

#4085 Allow multiple webhooks and general improvements
  src/_locales/en/messages.json
  src/core/background/scrobble.ts
  src/core/object/scrobble-service.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/core/scrobbler/webhook-scrobbler.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/accounts.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/util.tsx
Labels: core, added, minor-change

#4095 Add pipeline to test for typescript errors
  .github/workflows/test.yml
  package.json
  scripts/log.ts
  scripts/translations-prepare.ts
  tests/background/song.test.ts
  tests/background/util.test.ts
  tests/content/util.test.ts
  tests/mocks/webextension-polyfill.ts
  tsconfig.json
Labels: maintenance

#4099 Fix turntable.fm connector
  src/connectors/deepcut.fm.ts
  src/core/connectors.ts
Labels: fixed, patch-change

#4100 Move typescript test into its own pipeline
  .github/workflows/test.yml
Labels: maintenance, patch-change

#4094 Fix safari listenbrainz login
  src/core/background/main.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/util/communication.ts
  src/util/util.ts
Labels: core, fixed

#4102 Fixed RadioParadise connector for small screens
  src/connectors/radioparadise.ts
Labels: connector, updated

#4105 Add Safari to readme
  README.md
Labels: documentation, skip-changelog

#4104 Add disallowed controller state
  scripts/generate-icons.ts
  src/_locales/en/messages.json
  src/core/content/connector.ts
  src/core/object/controller/controller-mode.ts
  src/core/object/controller/controller.ts
  src/core/object/song.ts
  src/core/types.ts
  src/icons/monochrome/action_disallowed.svg
  src/ui/options/components/components.module.scss
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/contact.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/inputs.tsx
  src/ui/options/components/options/connector-options.tsx
  src/ui/options/components/options/global-options.tsx
  src/ui/popup/disallowed.tsx
  src/ui/popup/main.tsx
  src/ui/popup/nowplaying.tsx
  src/ui/popup/popup.module.scss
  src/util/communication.ts
  tests/background/song.test.ts
Labels: core, added

#4098 Move to shared eslint config
  .eslintrc.yml
  package-lock.json
  package.json
  scripts/compile-connectors.ts
  scripts/create-distributable.ts
  scripts/generate-icons.ts
  scripts/make-manifest.ts
  scripts/minify-images.ts
  scripts/translations-prepare.ts
  scripts/util.ts
  src/connectors/audiomack.ts
  src/connectors/bandcamp.ts
  src/connectors/burntable.ts
  src/connectors/cpr.ts
  src/connectors/eggs-dom-inject.ts
  src/connectors/gaana.ts
  src/connectors/gensokyoradio-dom-inject.ts
  src/connectors/globalplayer.ts
  src/connectors/mideastunes.ts
  src/connectors/musickit-dom-inject.ts
  src/connectors/plex.ts
  src/connectors/siriusxm-player.ts
  src/connectors/soundcloud.ts
  src/connectors/streemlion.ts
  src/connectors/streetvoice.ts
  src/connectors/tidal.ts
  src/connectors/towerrecordsmusic.ts
  src/connectors/youtube.ts
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/content/main.ts
  src/core/content/util.ts
  src/core/object/controller/controller.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/core/storage/wrapper.ts
  src/theme/themes.ts
  src/ui/components/context-menu/context-menu.tsx
  src/ui/components/util.tsx
  src/ui/options/components/accounts.tsx
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/contact.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/faq.tsx
  src/ui/options/components/inputs.tsx
  src/ui/options/components/options/scrobble-behavior.tsx
  src/ui/options/sidebar/sidebar.tsx
  src/ui/popup/disallowed.tsx
  src/ui/popup/edit.tsx
  src/ui/popup/main.tsx
  src/ui/popup/nowplaying.tsx
  src/ui/popup/regex.tsx
  src/util/communication.ts
  tests/background/saved-edits.test.ts
  tests/background/song.test.ts
  tests/background/storage.test.ts
  tests/mocks/webextension-polyfill.ts
Labels: maintenance

#3861 Add infobox to inject scrobbling info & state into pages
  manifest.config.ts
  src/_locales/en/messages.json
  src/_locales/en_BR/messages.json
  src/_locales/en_GB/messages.json
  src/_locales/en_US/messages.json
  src/connectors/youtube.ts
  src/core/content/connector.ts
  src/core/content/reactor.ts
  src/core/content/util.ts
  src/core/object/controller/controller-mode.ts
  src/core/object/controller/controller.ts
  src/core/storage/options.ts
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/options/global-options.tsx
  tests/content/util.test.ts
Labels: core, added

#4116 Add timestamp to webhook
  src/core/scrobbler/webhook-scrobbler.ts
Labels: core, added

#4115 Add save button to local properties
  src/ui/options/components/accounts.tsx
  src/ui/options/components/components.module.scss
Labels: core, added

#4117 Improve bracket matching
  src/core/content/util.ts
  tests/content/util.test.ts
Labels: core, fixed

#4123 Fix typo
  .github/CONTRIBUTING.md
Labels: maintenance, chore

#4118 Add instant local login
  src/core/scrobbler/base-scrobbler.ts
  src/ui/options/components/accounts.tsx
  src/util/communication.ts
Labels: core, added

#4124 Update COC and move to organization shared
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
Labels: maintenance

#3820 Push content scripts on reload
  manifest.config.ts
  src/connectors/deezer-dom-inject.ts
  src/connectors/eggs-dom-inject.ts
  src/connectors/eggs.ts
  src/connectors/gensokyoradio-dom-inject.ts
  src/connectors/musickit-dom-inject.ts
  src/connectors/sber-zvuk-dom-inject.ts
  src/connectors/sber-zvuk.ts
  src/connectors/vk-dom-inject.ts
  src/connectors/yandex-music-dom-inject.ts
  src/connectors/zvuk.ts
  src/core/background/inject.ts
  src/core/background/main.ts
  src/core/connectors.ts
  src/core/content/connector.ts
Labels: core, added

#4120 Add support for webhook website auth
  src/connectors/webhook-auth-dom-inject.ts
  src/core/content/main.ts
  src/core/content/webhook.ts
Labels: core, added

#4139 Add connector for RTL+ Musik
  src/connectors/rtl-plus-musik.ts
  src/core/connectors.ts
Labels: connector, added

#4141 Remove "Sign in" button for accounts not using it
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/lastfm/lastfm-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/core/scrobbler/webhook-scrobbler.ts
  src/ui/options/components/accounts.tsx
Labels: core, added

#4140 Filter sports broadcasts from SiriusXM
  src/connectors/siriusxm-player.ts
Labels: updated, patch-change

#4156 Fix QCIndie Connector
  src/connectors/qcindie.ts
Labels: patch-change

#4155 Add Ed Banger Records connector
  src/connectors/ed-banger-records.ts
  src/core/connectors.ts
Labels: connector, added

#4154 Add AfroCharts connector
  src/connectors/afrocharts.ts
  src/core/connectors.ts
Labels: connector, added

#4151 Update planet radio connector
  src/connectors/planetradio.ts
  src/core/connectors.ts
Labels: connector, updated

#4150 Add audio.com connector
  src/connectors/audio.ts
  src/core/connectors.ts
Labels: connector, added

#4147 Add lyden av norge connector
  src/connectors/lyden-av-norge.ts
  src/core/connectors.ts
Labels: connector, added

#4146 Add radio italia connector
  src/connectors/radio-italia.ts
  src/core/connectors.ts
Labels: connector, added
