Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-10, with the labels that each got.

#4169 add khinsider connector
  src/connectors/khinsider.ts
  src/core/connectors.ts
Labels: connector, added

#4149 Add blend connector
  src/connectors/blend.ts
  src/core/connectors.ts
Labels: connector, added

#4153 Add hearthis.at connector
  src/connectors/hearthis-at-dom-inject.ts
  src/connectors/hearthis-at.ts
  src/core/connectors.ts
Labels: connector, added

#4157 Add Radiofreccia connector
  src/connectors/radiofreccia.ts
  src/core/connectors.ts
Labels: connector, added

#4096 Migrate to stylelint 15
  package-lock.json
  package.json
  src/theme/themes.scss
  src/ui/components/context-menu/context-menu.module.scss
  src/ui/options/components/components.module.scss
  src/ui/options/settings.module.scss
  src/ui/popup/popup.module.scss
Labels: maintenance

#4170 Add hyperpipe connector
  src/connectors/hyperpipe.ts
  src/core/connectors.ts
Labels: connector, added

#4148 Add tomorrowland connector
  src/connectors/tomorrowland.ts
  src/core/connectors.ts
  src/core/content/util.ts
Labels: connector, added

#4145 Add ignored state and overhaul control flow
  src/_locales/en/messages.json
  src/ui/popup/ignored.tsx
  src/ui/popup/main.tsx
  src/ui/popup/popup.module.scss
Labels: core, added

#4172 Update vite-plugin-conditional-compiler to 0.2.0
  package-lock.json
  package.json
  src/core/storage/wrapper.ts
  src/ui/options/components/info.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/main.tsx
Labels: maintenance

#4177 Fix iramanusantara multiple artists scrobbling
  src/connectors/iramanusantara.ts
Labels: connector, fixed

#4180 Add connector for WDR
  src/connectors/wdr.ts
  src/core/connectors.ts
Labels: connector, added

#4182 fix for #3893, missing scrobbles on deezer connector
  src/connectors/deezer-dom-inject.ts
Labels: connector, fixed

#4184 Remove reactor
  src/core/content/reactor.ts
  src/core/content/starter.ts
Labels: maintenance

#4203 Add "Use local instance" button
  src/_locales/en/messages.json
  src/ui/options/components/accounts.tsx
  src/ui/options/components/components.module.scss
Labels: core, added

#4185 Rename getUsedDefinedProperties
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
Labels: maintenance, chore

#4195 Improve popup cover for non-square covers
  src/ui/popup/nowplaying.tsx
  src/ui/popup/popup.module.scss
Labels: core, fixed

#4202 Fix popup loading
  src/ui/popup/main.tsx
Labels: core, fixed

#4196 Add advanced settings
  src/_locales/en/messages.json
  src/ui/options/components/advanced-settings.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/inputs.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/components/options/global-options.tsx
  src/util/util.ts
Labels: core, added

#4205 Fix cover art
  src/ui/popup/edit.tsx
  src/ui/popup/popup.module.scss
Labels: core, fixed

#4201 Fix disallow being too aggressive
  src/core/object/controller/controller.ts
Labels: core, fixed

#4200 Improve iOS onboarding
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-128@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-128@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-16@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-16@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-256@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-256@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-32@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-32@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-512@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/mac-icon-512@2x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/AppIcon.appiconset/universal-icon-1024@1x.png
  .xcode/Web Scrobbler/Shared (App)/Assets.xcassets/LargeIcon.imageset/icon_main_256.png
  .xcode/Web Scrobbler/Shared (App)/Base.lproj/Main.html
  .xcode/Web Scrobbler/Shared (App)/Resources/Icon.png
  .xcode/Web Scrobbler/Shared (App)/Resources/Script.js
  .xcode/Web Scrobbler/Shared (App)/Resources/Style.css
  .xcode/Web Scrobbler/Shared (App)/Resources/SwipedEvents.js
  .xcode/Web Scrobbler/Shared (App)/Resources/accounttab.jpg
  .xcode/Web Scrobbler/Shared (App)/Resources/compiledsettings.jpg
  .xcode/Web Scrobbler/Shared (App)/Resources/safaricontextmenu.jpg
  .xcode/Web Scrobbler/Shared (App)/Resources/settinglist.jpg
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.pbxproj
  .xcode/Web Scrobbler/Web Scrobbler.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
  scripts/minify-images.ts
  src/img/main/GitHub_Logo.png
  src/img/main/cover_art_default.png
  src/img/main/cover_art_unknown.png
  src/img/main/site-dark.jpg
  src/img/main/site-light.jpg
  src/img/safari/accounttab.jpg
  src/img/safari/compiledsettings.jpg
  src/img/safari/safaricontextmenu.jpg
  src/img/safari/settinglist.jpg
  src/theme/themes.scss
Labels: core, fixed

#4204 Improve styling and markup
  src/ui/options/components/accounts.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/contact.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/inputs.tsx
  src/ui/options/components/showSomeLove.tsx
  src/ui/popup/disabled.tsx
  src/ui/popup/disallowed.tsx
  src/ui/popup/err.tsx
  src/ui/popup/popup.module.scss
Labels: chore, patch-change
