Repository web-scrobbler/web-scrobbler, pull requests merged in 2023-03, with the labels that each got.

#3590 Add connector for lulu.fm
  src/connectors/lulu.fm.js
  src/core/connectors.js
Labels: added, minor-change

#3591 Add Gimme Metal to existing gimmeRadio connector
  src/connectors/gimmeradio.js
  src/core/connectors.js
Labels: added, minor-change

#3222 Add option to scrobble edited tracks only
  package-lock.json
  src/_locales/en/messages.json
  src/core/background/pipeline/metadata.js
  src/core/background/storage/options.js
  src/ui/options/connectors.js
  src/ui/options/dialogs.js
  src/ui/options/index.html
  src/ui/options/options.js
Labels: added, minor-change

#3526 Allow youtube connector to get data from Youtube Music
  src/_locales/en/messages.json
  src/connectors/youtube.js
  src/core/background/storage/options.js
  src/ui/options/index.html
  src/ui/options/options.js
Labels: connector, added, minor-change

#3592 Add connector for Rock Antenne
  src/connectors/rockantenne.js
  src/core/connectors.js
Labels: connector, added

#3595 Update Audacy connector to support both players
  src/connectors/audacy.js
Labels: updated, patch-change

#3594 Update KCRW connector for Today's Top Tune
  src/connectors/kcrw.js
Labels: updated, patch-change

#3602 Fix Beatbump connector
  src/connectors/beatbump.js
Labels: connector, fixed

#3603 Update Audacy connector
  src/connectors/audacy.js
Labels: updated, patch-change
