Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-12, with the labels that each got.

#5063 Fixed Mixcloud track detection by updating selectors
  src/connectors/mixcloud.ts
Labels: patch-change, fixed-connector

#5093 Fix lint errors in Mixcloud
  src/connectors/mixcloud.ts
Labels: skip-changelog, patch-change

#5092 Fix MacOS setup
  .github/workflows/build.yml
Labels: skip-changelog, patch-change

#5084 Fix NTS Radio live scrobbling
  src/connectors/nts-live.ts
Labels: patch-change, fixed-connector

#5058 Add support for Gizz Tapes
  src/connectors/tapes-kglw.ts
  src/core/connectors.ts
Labels: minor-change, new-connector
