Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-03, with the labels that each got.

#4519 Stop the scrobbler from scrobbling privately shared Souncloud tracks
  src/_locales/en/messages.json
  src/connectors/soundcloud.ts
  src/core/object/disallowed-reason.ts
Labels: added, minor-change

#4570 Khinsider connector fix
  src/connectors/khinsider.ts
Labels: fixed, patch-change

#4567 Created AzuraCast connector
  src/connectors/azuracast.ts
  src/core/connectors.ts
Labels: added, minor-change

#4550 Fix SiriusXM new url structure for Canada (and other regions) player
  src/core/connectors.ts
Labels: updated, patch-change

#4588 Add deepcuts.fm to list of deep-cut urls
  src/core/connectors.ts
Labels: updated, patch-change

#4586 Make love/unlove checks stricter
  src/connectors/spotify.ts
  src/connectors/youtube.ts
  src/core/content/connector.ts
Labels: fixed, patch-change

#4590 Split linters for easier troubleshooting
  .github/workflows/lint.yml
  package.json
Labels: chore, patch-change

#4587 Rework youtube music connector
  src/connectors/youtube-music.ts
Labels: fixed, patch-change

#4562 Add connector for tunes.apt-get.xyz
  src/connectors/apt-get-tunes.ts
  src/core/connectors.ts
Labels: added, minor-change

#4534 Draft new release template
  .github/release-drafter.yml
Labels: chore, patch-change

#4601 scrobblerad.io connector
  src/connectors/scrobbleradio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector
