Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-02, with the labels that each got.

#4455 Add regex flags and allow replace with empty
  src/_locales/en/messages.json
  src/core/storage/regex-edits.model.ts
  src/theme/themes.scss
  src/ui/components/_util.scss
  src/ui/components/context-menu/context-menu.module.scss
  src/ui/components/icons.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/settings.module.scss
  src/ui/popup/edit.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
  src/util/regex.ts
  tests/background/regex-edits.test.ts
  tests/mocks/fetch.ts
  tests/setup/handle-rejections.ts
  vitest.config.ts
Labels: added, minor-change

#4481 Tidy build script naming + typo
  scripts/compile-connectors.ts
  scripts/minify-images.ts
Labels: skip-changelog, patch-change

#4479 Don't typecheck connectors at build time
  scripts/compile-connectors.ts
Labels: chore, skip-changelog

#4482 Skip image compression on dev builds
  scripts/minify-images.ts
  vite.configs.ts
Labels: chore, skip-changelog

#4485 Delete funding notification
  src/_locales/en/messages.json
  src/ui/options/components/components.module.scss
  src/ui/options/components/show-some-love.tsx
Labels: chore, patch-change

#4487 Remove sign in button for pleroma
  src/core/scrobbler/pleroma/pleroma-scrobbler.ts
Labels: chore, fixed

#4486 Add fetching from background in content util
  src/core/background/main.ts
  src/core/content/util.ts
  src/util/communication.ts
Labels: added, patch-change

#4493 Fix ListenBrainz Log In Issue Related to DOMParser and Recent React Port
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz.types.ts
Labels: fixed, patch-change

#4480 Add NTS Shows connector
  src/connectors/nts-live.ts
  src/connectors/nts-shows.ts
  src/core/connectors.ts
Labels: added, minor-change

#4484 Add pause state
  scripts/generate-icons.ts
  src/_locales/en/messages.json
  src/core/object/controller/controller-mode.ts
  src/core/object/controller/controller.ts
  src/icons/monochrome/action_paused.svg
  src/ui/popup/main.tsx
Labels: added, minor-change

#4483 Add album guessing options
  src/_locales/en/messages.json
  src/core/object/pipeline/metadata.ts
  src/core/storage/options.ts
  src/ui/options/components/advanced-settings.tsx
Labels: added, minor-change

#4496 Update release-drafter.yml
  .github/release-drafter.yml
Labels: skip-changelog, patch-change

#4498 Tidy Github Actions pipelines
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: skip-changelog, patch-change

#4501 Fix pause button UI bug
  src/core/object/controller/controller.ts
Labels: fixed, patch-change

#4503 Remove pause icon more eagerly
  src/core/object/controller/controller.ts
Labels: fixed, patch-change

#4472 Notify if user loved/unloved song via hotkey
  scripts/generate-icons.ts
  src/core/background/main.ts
  src/core/object/controller/controller-mode.ts
  src/core/object/controller/controller.ts
  src/icons/monochrome/action_loved.svg
  src/icons/monochrome/action_unloved.svg
  src/ui/popup/main.tsx
  src/ui/popup/nowplaying.tsx
  src/util/communication.ts
  src/util/notifications.ts
Labels: added, minor-change

#4512 Add support for earth.fm
  src/connectors/earth.fm.ts
  src/core/connectors.ts
Labels: connector, added, minor-change

#4499 Use audible api for determinining isPlaying status
  src/core/background/main.ts
  src/core/content/connector.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/util/communication.ts
Labels: added, minor-change

#4515 Fix funkwhale connector
  src/connectors/funkwhale.ts
Labels: fixed, patch-change

#4538 restrict love/unlove to playing and scrobbled modes
  src/core/object/controller/controller.ts
Labels: fixed, patch-change

#4540 Allow clicking edit while paused and recently loved/unloved
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/object/controller/controller.ts
  src/core/storage/wrapper.ts
  src/ui/popup/nowplaying.tsx
  src/util/communication.ts
Labels: fixed, patch-change

#4553 Fix firefox saving of bulk edits
  src/core/storage/regex-edits.model.ts
Labels: fixed, patch-change
