Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-08, with the labels that each got.

#4809 Add instant.audio connector
  src/connectors/instantaudio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4810 Fix warp-aphextwin connector
  src/connectors/warp-aphextwin.ts
Labels: patch-change, fixed-connector

#4824 New RadioFreeFedi connector
  src/connectors/radiofreefedi.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4825 New MyTuner Connector
  src/connectors/mytuner.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4816 Add Rayo Support
  src/core/connectors.ts
Labels: minor-change, new-connector

#4836 Update connectors - nugs.net and livephish
  src/connectors/livephish.ts
  src/connectors/nugs.ts
Labels: patch-change, fixed-connector

#4867 Change Dash Radio to LITT Live
  src/connectors/littlive.ts
  src/core/connectors.ts
Labels: updated, minor-change

#4869 Revert id change of lITT live change
  src/core/connectors.ts
Labels: updated, patch-change

#4827 New Mirlo connector
  src/connectors/mirlo.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4834 New connector - Simulator Radio
  src/connectors/simulatorradio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4839 fix OnlineRadioBox connector
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#4887 Update Tidal connector.
  src/connectors/tidal.ts
Labels: connector, patch-change

#4874 Prepare for @typescript-eslint/eslint-plugin @ 8.
  build.ts
  scripts/compile-connectors.ts
  scripts/generate-icons.ts
  src/connectors/1001tracklists.ts
  src/connectors/eggs-dom-inject.ts
  src/connectors/musickit-dom-inject.ts
  src/core/background/scrobble.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/core/scrobbler/pleroma/pleroma-scrobbler.ts
  src/core/scrobbler/webhook-scrobbler.ts
  src/core/storage/options.ts
  src/ui/popup/regex.tsx
  src/util/util.ts
  tests/background/custom-patterns.test.ts
  tests/background/regex-edits.test.ts
  tests/background/saved-edits.test.ts
  tests/background/song.test.ts
  tests/background/storage.test.ts
  tests/mocks/fetch.ts
Labels: maintenance, skip-changelog

#4885 Prepare for @types/webextension-polyfill @ 0.12
  src/core/storage/wrapper.ts
  src/theme/themes.ts
  src/util/communication.ts
Labels: maintenance, skip-changelog
