Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-05, with the labels that each got.

#4615 Added additional checks for identifying private SoundCloud tracks
  src/connectors/soundcloud.ts
Labels: patch-change, fixed-connector

#4666 Add a connector for bollerwagen.de
  src/connectors/bollerwagen.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4667 Add new connector for WeAreOne.fm
  .github/workflows/test.yml
  src/connectors/weareone.ts
  src/core/connectors.ts
  src/core/content/util.ts
Labels: minor-change, new-connector

#4688 Pin the Safari build to the macos-12 runner.
  .github/workflows/build.yml
Labels: chore, skip-changelog, github_actions

#4685 Bump sass from 1.75.0 to 1.76.0
  package-lock.json
  package.json
Labels: maintenance, dependencies

#4669 add loveButtonSelector and unloveButtonSelector for Soundcloud
  src/connectors/soundcloud.ts
Labels: updated, minor-change

#4670 Update RTL+ Musik connector
  src/connectors/rtl-plus-musik.ts
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#4686 Fix connector for Radio Caprice
  src/connectors/radcap.ts
Labels: patch-change, fixed-connector

#4693 Add connector for MTS Music (МТС Музыка)
  src/connectors/mts-music.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4707 Add version info to about page
  src/_locales/en/messages.json
  src/ui/options/components/info.tsx
Labels: updated, patch-change

#4709 Update translations
  src/_locales/de/messages.json
  src/_locales/en_GB/messages.json
  src/_locales/fr_FR/messages.json
  src/_locales/lt/messages.json
  src/_locales/tr_TR/messages.json
  src/_locales/tr_TR/privacy.md
  src/_locales/zh/messages.json
Labels: updated, patch-change

#4704 fix youtube-music connector on Firefox
  src/connectors/youtube-music-dom-inject.ts
  src/connectors/youtube-music.ts
Labels: patch-change, fixed-connector

#4725 Add a Connector for radiobob.de
  src/connectors/radiobob.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4706 Add support for Bandcamp mobile view
  src/connectors/bandcamp.ts
Labels: patch-change, fixed-connector

#4732 Fix en_GB locale
  src/_locales/en_GB/messages.json
Labels: patch-change, core-fix

#4733 Add ChirpRadio connector, second try
  src/connectors/chirpradio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector
