Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-01, with the labels that each got.

#4394 Update SiriusXM to support player redesign
  src/connectors/siriusxm-player.ts
  src/core/connectors.ts
Labels: fixed, patch-change

#4407 Update SiriusXM player to use attribute selectors
  src/connectors/siriusxm-player.ts
Labels: connector, updated

#4179 Add button to block specific youtube channels
  src/_locales/en/messages.json
  src/connectors/youtube.ts
  src/core/background/action.ts
  src/core/background/main.ts
  src/core/background/util.ts
  src/core/connectors.ts
  src/core/content/connector.ts
  src/core/object/cloned-song.ts
  src/core/object/controller/controller.ts
  src/core/object/song.ts
  src/core/storage/blocklist.ts
  src/core/storage/browser-storage.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/edit-options/blocked-channels.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/main.tsx
  src/util/communication.ts
  src/util/util.ts
  tests/background/connectors.test.ts
Labels: core, added, minor-change

#4408 Add jam.coop connector
  src/connectors/jam.coop.ts
  src/core/connectors.ts
Labels: connector, added

#3908 Added Pleroma scrobbling
  README.md
  src/_locales/en/messages.json
  src/core/object/scrobble-service.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/pleroma/pleroma-scrobbler.ts
  src/core/scrobbler/pleroma/pleroma.types.ts
  src/core/storage/browser-storage.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/accounts.tsx
Labels: added, minor-change

#4409 Add connector for BiliBili
  src/connectors/bilibili.ts
  src/core/connectors.ts
Labels: added, minor-change

#4419 Add blocklist channel label
  src/connectors/bilibili.ts
  src/connectors/youtube.ts
  src/core/background/action.ts
  src/core/background/util.ts
  src/core/content/connector.ts
  src/core/content/util.ts
  src/core/object/controller/controller.ts
  src/core/storage/blocklist.ts
  src/core/storage/wrapper.ts
  src/ui/options/components/edit-options/blocked-channels.tsx
  src/ui/options/components/edit-options/util.tsx
  src/util/communication.ts
Labels: added, minor-change

#4427 Implement channel blocking on iOS
  src/connectors/youtube.ts
  src/core/background/util.ts
  src/ui/components/context-menu/context-menu.tsx
  src/ui/options/components/navigator.ts
Labels: added, patch-change

#4418 Add high contrast themes
  src/_locales/en/messages.json
  src/theme/themes.scss
  src/theme/themes.ts
  src/ui/components/context-menu/context-menu.module.scss
  src/ui/options/components/components.module.scss
  src/ui/options/components/options/global-options.tsx
  src/ui/options/settings.module.scss
  src/ui/options/sidebar/sidebar.module.scss
  src/ui/popup/popup.module.scss
  src/util/util.ts
Labels: added, minor-change

#4414 Timeout musicbrainz request
  src/core/object/pipeline/coverartarchive/coverartarchive.ts
Labels: chore, patch-change

#4399 Fix Planet Radio connector
  src/connectors/planetradio.ts
Labels: fixed, patch-change

#4430 Improve keyboard and screen viewer accessibility
  src/_locales/en/messages.json
  src/ui/components/util.tsx
  src/ui/options/components/accounts.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/edit-options/blocked-channels.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/inputs.tsx
  src/ui/options/components/options/scrobble-behavior.tsx
  src/ui/popup/edit.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
Labels: fixed, patch-change

#4420 Open popup links in tab next to current
  src/ui/components/util.tsx
Labels: fixed, patch-change

#4416 Add notification when first scrobbling site with built-in scrobbler
  src/_locales/en/messages.json
  src/core/background/scrobble.ts
  src/core/connectors.ts
  src/core/object/cloned-song.ts
  src/core/object/song.ts
  src/core/storage/browser-storage.ts
  src/core/storage/native-scrobbler-notification.ts
  src/core/storage/wrapper.ts
  src/ui/popup/nowplaying.tsx
  src/util/notifications.ts
  tests/background/connectors.test.ts
Labels: added, minor-change

#4440 Ignore yarn.lock
  .gitignore
Labels: maintenance, chore

#4421 Add connector for Zing MP3
  src/connectors/zingmp3.ts
  src/core/connectors.ts
Labels: added, minor-change

#4452 Fix isScrobblingAllowed logic for BiliBili
  src/connectors/bilibili.ts
Labels: patch-change

#4454 Fix Audiomack connector
  src/connectors/audiomack.ts
Labels: fixed, patch-change

#4457 Add back uploading build artifacts
  .github/workflows/build.yml
Labels: skip-changelog, patch-change

#4467 fix qq music connector
  src/connectors/qq-music.ts
  src/core/connectors.ts
Labels: fixed, patch-change

#4471 Fix artifact building
  .github/workflows/build.yml
Labels: skip-changelog, patch-change

#4437 Add ability to love songs through listening services
  src/_locales/en/messages.json
  src/connectors/spotify.ts
  src/connectors/youtube.ts
  src/core/content/connector.ts
  src/core/content/starter.ts
  src/core/object/controller/controller.ts
  src/core/object/song.ts
  src/core/storage/options.ts
  src/ui/options/components/connector-override.tsx
  src/ui/options/components/options/global-options.tsx
Labels: added, minor-change

#4207 Add button to block artist/album/track
  src/_locales/en/messages.json
  src/core/object/controller/controller.ts
  src/core/object/pipeline/blocked-tags.ts
  src/core/object/pipeline/pipeline.ts
  src/core/object/song.ts
  src/core/storage/blocked-tags.ts
  src/core/storage/browser-storage.ts
  src/core/storage/wrapper.ts
  src/ui/components/icons.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/edit-options/blocked-tags.tsx
  src/ui/options/components/edit-options/edit-options.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/main.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
  src/util/util.ts
Labels: core, added

#4279 Add connector for Telegram Web
  src/connectors/telegram-a.ts
  src/connectors/telegram-k-dom-inject.ts
  src/connectors/telegram-k.ts
  src/core/connectors.ts
Labels: added, patch-change

#4413 Add description of errors to disallowed popup
  src/_locales/en/messages.json
  src/connectors/1001tracklists.ts
  src/connectors/allclassical.org.ts
  src/connectors/amazon.ts
  src/connectors/audacy.ts
  src/connectors/bilibili.ts
  src/connectors/cpr-indie.ts
  src/connectors/cpr.ts
  src/connectors/dandelionradio.ts
  src/connectors/decayfm.ts
  src/connectors/gimmeradio.ts
  src/connectors/globalplayer.ts
  src/connectors/idagio.ts
  src/connectors/iheart.ts
  src/connectors/jamstash.ts
  src/connectors/jazzgroove.ts
  src/connectors/kinknl.ts
  src/connectors/kyivstar.ts
  src/connectors/live365.ts
  src/connectors/liveone.ts
  src/connectors/mixcloud.ts
  src/connectors/pandora.ts
  src/connectors/poolsuite.ts
  src/connectors/radio357.ts
  src/connectors/radio7.ts
  src/connectors/radioparadise.ts
  src/connectors/redbull.ts
  src/connectors/refnet.ts
  src/connectors/rockandpopcl.ts
  src/connectors/rockantenne.ts
  src/connectors/siriusxm-player.ts
  src/connectors/spotify.ts
  src/connectors/subfire.ts
  src/connectors/tidal.ts
  src/connectors/wdr.ts
  src/connectors/xrayfm.ts
  src/connectors/youtube-music.ts
  src/connectors/youtube.ts
  src/core/content/connector.ts
  src/core/object/controller/controller.ts
  src/core/object/disallowed-reason.ts
  src/core/object/song.ts
  src/core/types.ts
  src/ui/popup/disallowed.tsx
  src/ui/popup/popup.module.scss
  src/ui/popup/regex.tsx
Labels: core, added, minor-change

#4126 Add scrobble cache
  src/.eslintrc.yml
  src/_locales/en/messages.json
  src/core/background/main.ts
  src/core/background/scrobble.ts
  src/core/object/controller/controller.ts
  src/core/object/scrobble-service.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.ts
  src/core/scrobbler/audio-scrobbler/audio-scrobbler.types.ts
  src/core/scrobbler/base-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz-scrobbler.ts
  src/core/scrobbler/listenbrainz/listenbrainz.types.ts
  src/core/scrobbler/maloja/maloja-scrobbler.ts
  src/core/scrobbler/pleroma/pleroma-scrobbler.ts
  src/core/scrobbler/webhook-scrobbler.ts
  src/core/storage/browser-storage.ts
  src/core/storage/scrobble-cache.model.ts
  src/core/storage/scrobble-cache.ts
  src/core/storage/wrapper.ts
  src/theme/themes.scss
  src/ui/components/icons.tsx
  src/ui/options/components/components.module.scss
  src/ui/options/components/edit-options/blocked-tags.tsx
  src/ui/options/components/edit-options/edited-tracks.tsx
  src/ui/options/components/edit-options/regex-edits.tsx
  src/ui/options/components/edit-options/util.tsx
  src/ui/options/components/navigator.ts
  src/ui/options/components/scrobble-cache.tsx
  src/ui/options/components/show-some-love.tsx
  src/ui/options/main.tsx
  src/ui/options/settings.module.scss
  src/ui/popup/popup.module.scss
  src/util/communication.ts
  src/util/util.ts
  tests/background/saved-edits.test.ts
Labels: core, added

#4477 Add NTS Radio connector
  src/connectors/nts.ts
  src/core/connectors.ts
Labels: added, minor-change
