Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-06, with the labels that each got.

#4744 Bump @types/imagemin from 8.0.5 to 9.0.0.
  package-lock.json
  package.json
Labels: maintenance, dependencies

#4757 Add support for Bandcamp Discover page
  src/connectors/bandcamp.ts
Labels: updated, patch-change

#4760 Filter additional SiriusXM host names
  src/connectors/siriusxm-player.ts
Labels: updated, patch-change

#4691 Fix piped.ts (connector)
  src/connectors/piped.ts
Labels: patch-change, fixed-connector

#4761 Ensure filtered terms are lowercase for SiriusXM
  src/connectors/siriusxm-player.ts
Labels: patch-change, fixed-connector

#4771 Fix Epidemic Sound connector selectors
  src/connectors/epidemicsound.ts
Labels: patch-change, fixed-connector
