Repository web-scrobbler/web-scrobbler, pull requests merged in 2024-11, with the labels that each got.

#5023 Support new SomaFM player
  src/connectors/somafm.ts
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#4996 Add support for Echo
  src/connectors/echo.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#4953 Update connectors.ts with Synology default secure port
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#5041 Fix code lint
  src/connectors/somafm.ts
Labels: skip-changelog, patch-change

#5042 Fix lint properly
  src/connectors/somafm.ts
Labels: skip-changelog

#5049 Fix for SomaFM player update
  src/connectors/somafm.ts
Labels: patch-change, fixed-connector

#5057 Add support for old somafm player
  src/connectors/somafm.ts
  src/core/connectors.ts
Labels: connector, patch-change
