Repository web-scrobbler/web-scrobbler, pull requests merged in 2025-02, with the labels that each got.

#5120 Add .com domain support for Yandex.Music connector
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#5121 Add cosine.club connector (#5094)
  src/connectors/cosine.club.ts
  src/core/connectors.ts
Labels: patch-change, new-connector

#5179 Add support for Systrum Sistum Radio
  src/connectors/systrum.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5145 Combined NTS connector
  src/connectors/nts-live.ts
  src/connectors/nts-shows.ts
  src/connectors/nts.ts
  src/core/connectors.ts
Labels: updated, minor-change

#5181 Fix SiriusXM CSS selectors and add support for Spanish UI
  src/connectors/siriusxm-player.ts
Labels: patch-change

#5168 Add support for onlyhit.us
  src/connectors/onlyhit.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5166 Update TrackerHub connector url
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#5201 Update edge deploy pipeline step
  .github/workflows/deploy.yml
Labels: maintenance, patch-change
