Repository web-scrobbler/web-scrobbler, pull requests merged in 2025-05, with the labels that each got.

#5292 Update Yandex Music connector
  src/connectors/yandex-music.ts
Labels: patch-change, fixed-connector

#5307 Update VK Music connector
  src/connectors/vk-dom-inject.ts
Labels: updated, patch-change

#5271 Add support for Suno AI
  src/connectors/suno.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5269 Add connector for musiqueapproximative.net
  src/connectors/musiqueapproximative.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5256 connector for: theindiebeat.fm
  src/connectors/theindiebeat.ts
  src/core/connectors.ts
Labels: patch-change, new-connector

#5332 Fix lint
  src/connectors/theindiebeat.ts
Labels: skip-changelog

#5333 Fix edge publish
  .github/workflows/deploy.yml
Labels: skip-changelog
