Repository web-scrobbler/web-scrobbler, pull requests merged in 2025-08, with the labels that each got.

#5524 Fix links to website
  package.json
  src/_locales/bn_BD/messages.json
  src/_locales/de/messages.json
  src/_locales/el/messages.json
  src/_locales/en/messages.json
  src/_locales/en_BR/messages.json
  src/_locales/en_GB/messages.json
  src/_locales/en_US/messages.json
  src/_locales/es_MX/messages.json
  src/_locales/fi/messages.json
  src/_locales/id/messages.json
  src/_locales/ko/messages.json
  src/_locales/lt/messages.json
  src/_locales/pt_PT/messages.json
  src/_locales/ru/messages.json
  src/_locales/sl_SI/messages.json
  src/_locales/tr_TR/messages.json
  src/_locales/uk_UA/messages.json
  src/_locales/zh_TW/messages.json
  src/core/content/main.ts
Labels: updated, patch-change

#5498 The Current connector fix
  src/connectors/thecurrent.ts
Labels: patch-change, fixed-connector

#5510 Fixed Suno connector
  src/connectors/suno.ts
Labels: updated, patch-change

#5373 Add support for Kosmik Dstroyer
  src/connectors/kosmik-dstroyer.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5507 Fixed VK Music connector
  src/connectors/vk-dom-inject.ts
Labels: patch-change, fixed-connector

#5374 Add support for Yumi Co. Radio
  src/connectors/yumicoradio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5416 Add connector for LMS servers
  src/connectors/lms.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5445 Add support for gbs-fm
  src/connectors/gbs.fm.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5456 Add support for DAB Music Player
  src/connectors/dabmusic.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5533 Fix lint on dabmusic
  src/connectors/dabmusic.ts
Labels: skip-changelog, patch-change

#5521 Fix plus signs not working in links
  src/util/util.ts
Labels: patch-change, core-fix

#5234 Add support for Radio Vas3k Club
  src/connectors/vas3kradio.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5357 Added support for untitled.stream
  src/connectors/untitled.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5534 fix lint of connector
  src/connectors/vas3kradio.ts
Labels: skip-changelog, patch-change

#5447 fix nrk-radio connector
  src/connectors/nrk-radio.ts
Labels: patch-change, fixed-connector

#5522 Fix self-hosted HTTP-only scrobbling services in Firefox
  manifest.config.ts
Labels: patch-change, core-fix

#5537 Add missing export to remaining connectors
  src/connectors/azuracast.ts
  src/connectors/khinsider.ts
  src/connectors/subphonic.ts
  src/connectors/tidal.ts
Labels: updated, patch-change

#5538 Fix warnings around missing await for edit test cases
  tests/background/saved-edits.test.ts
Labels: chore, skip-changelog, patch-change

#5541 Add connector for gravity.fm
  src/connectors/gravity.fm.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5552 deploy on publish, add extensions to release
  .github/workflows/deploy.yml
Labels: core, skip-changelog, patch-change

#5560 fix r/a/dio connector
  src/connectors/r-a-d.io.ts
Labels: patch-change, fixed-connector

#5535 Add connector for sogreatandpowerful.com
  src/connectors/sogreatandpowerful.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5565 Update TIDAL URL.
  src/core/connectors.ts
Labels: patch-change, fixed-connector
