Repository web-scrobbler/web-scrobbler, pull requests merged in 2025-09, with the labels that each got.

#4868 gds.fm: Skip scrobbling announcements
  src/connectors/gds.fm.ts
Labels: updated, patch-change

#5571 Update VK URL.
  src/connectors/vk-dom-inject.ts
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#5581 Add Archaic Horizon connector
  src/connectors/archaichorizon.ts
  src/core/connectors.ts
Labels: minor-change, new-connector

#5583 Match Archaic Horizon on non-www
  src/core/connectors.ts
Labels: patch-change, fixed-connector

#5602 Bump MacOS runner.
  .github/workflows/build.yml
Labels: chore, skip-changelog

#5589 Fix Mirlo scrobbling the first track of certain releases repeatedly.
  src/connectors/mirlo.ts
Labels: patch-change, fixed-connector

#5626 Fix Mixcloud connector
  src/connectors/mixcloud.ts
Labels: patch-change, fixed-connector
